---
title: "SearchBar Astro"
import SearchModal from '../components/SearchBar';
import { fetchPosts } from '../utils/firebase';

const posts = await fetchPosts();
---
<SearchModal client:load posts={posts} />

<!--div class="p-4 w-3/4 ml-10">
  <input id="searchInput" type="text" placeholder="Buscar..." class="w-full px-3 py-2 text-gray-800 bg-gray-100 rounded-lg focus:outline-none focus:ring focus:ring-gray-400"/>
</div>

<dialog id="searchResultsDialog" class="p-4 rounded shadow-lg">
  <button id="closeDialog" class="float-right text-xl" aria-label="Cerrar búsqueda">
    &times;
  </button>
  <h2 class="text-lg mb-4">Resultados de búsqueda</h2>
  <div id="resultsContainer">
  </div>
</dialog-->
